# deps & logs
node_modules
*.log

# VCS / Docker
.git
.gitignore
Dockerfile
docker-compose*.yml
.dockerignore

# Environment files (используешь ARG/ENV/env_file)
*.env
*.env.*
.envrc

# Tests & reports
coverage
*.test.*
*.spec.*
__tests__/
cypress
playwright-report
test-results
.vitest
.jest

# Editor / workspace
.vscode
.idea
*.code-workspace

# Project configs NOT needed at runtime/build
bundlesize.config.json
eslint.config.js
knip.json
lefthook.yml
README.md
vercel.json
.prettier*
.editorconfig
.husky/
.github/

# OS junk
.DS_Store
Thumbs.db